#scatter_plot {
    position: relative;
    top: 100px;
    bottom: 100px; 
    left: 100px;
    right: 100px;
    height: 1000px; /* Adjust height if necessary */
    width: 1000px; /* Adjust width if necessary */
}
